<nav class="sidebar-nav">
  <h2>Espace Étudiant</h2>
  <ul>
    <li class="section-title">Menu</li>

    <li>
      <a routerLink="/etudiant/accueil" routerLinkActive="active">Accueil</a>
    </li>
    <li>
      <a routerLink="/etudiant/chat" routerLinkActive="active">Chat</a>
    </li>

    <ng-container *ngIf="userRole === 'etudiant'; else vueMultiples">
      <li>
        <a routerLink="/etudiant/devenir-prof" routerLinkActive="active">Devenir Prof</a>
      </li>
    </ng-container>

    <ng-template #vueMultiples>
      <li class="section-title">Changer de vue</li>

      <li *ngIf="userRole === 'admin'">
        <a routerLink="/admin/accueil" routerLinkActive="active">Vue Administrateur</a>
      </li>
      <li>
        <a routerLink="/enseignant/accueil" routerLinkActive="active">Vue Prof</a>
      </li>
    </ng-template>

    <li class="section-title">Profil</li>
    <li>
      <a routerLink="/etudiant/profil" routerLinkActive="active">Profil</a>
    </li>
    <li>
      <a routerLink="/deconnexion" class="logout-link">Déconnexion</a>
    </li>
  </ul>
</nav>
