<main>
    <div class="profile-container">
        <h1>Mon Profil</h1>
        <div class="profile-header">
            <div class="profile-box">
                <span>Prénom</span>
                <strong>{{ user.prenom }}</strong>
            </div>
            <div class="profile-box">
                <span>Nom</span>
                <strong>{{ user.nom }}</strong>
            </div>
            <div class="profile-box">
                <span>Adresse email</span>
                <strong>{{ user.email }}</strong>
            </div>
        </div>

        <div class="profile-details">
            <div class="profile-detail full">
                <p>Présentation</p>
                <strong style="white-space: pre-wrap;">{{ user.presentation }}</strong>
            </div>
        </div>
        
        <div class="form-actions">
            <a routerLink="/etudiant/modifier-profil" [queryParams]="{from: 'enseignant'}" class="action-btn primary">Modifier mon profil</a>
        </div>
    </div>
</main>