<div class="chat-list-container">
  <div class="header-section">
    <h1>Mes Conversations</h1>
    <p>Retrouvez ici tous vos échanges avec vos professeurs.</p>
  </div>

  <div class="conversations-list">

    <p *ngIf="conversations.length === 0" class="no-conv">Aucune conversation pour le moment.</p>

    <a *ngFor="let conv of conversations" [routerLink]="['/etudiant/chat/conversation', conv.id_cours]" class="conv-card">

      <div class="conv-info">
        <h3>Cours de : {{ conv.nom_matiere }}</h3>
        <p class="desc">{{ conv.description }}</p>
      </div>

      <div class="conv-meta">

        <span *ngIf="conv.nb_non_lus > 0" class="badge-unread">
          {{ conv.nb_non_lus }} non lu(s)
        </span>

        <span class="badge-prof">{{ conv.prenom_prof }} {{ conv.nom_prof }}</span>

      </div>
    </a>

  </div>
</div>
